<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>liveteesac.onmicrosoft.com</ADDomain>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thamcostore-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thamcostore-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ThAmCoStore__Dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ThAmCoStore__Dev</UserName>
    <_SavePWD>True</_SavePWD>
    <ADAppIDUri>https://liveteesac.onmicrosoft.com/WebApp-thamcostore-dev.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>1b489080-8fbf-4e52-a00e-ecd990db4aa4</ADClientAPPID>
    <ADClientPassword>ivMl9bRWXCrtU0GqS3LU2R6I5aUsqRuaUHF5D60hcfo=</ADClientPassword>
    <ADReplyUrl>https://thamcostore-dev.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>43d2115b-a55e-46b6-9df7-b03388ecfc60</ADTenantId>
    <ADPostLogoutRedirectUri>https://thamcostore-dev.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>