@{
    ViewBag.Title = "Home Page";

}
<div class="row">
    <span class="col-xs-1">search</span>
    <div class="col-xs-2">
        <input id="search" type="text" data-bind="textInput: filter" />
    </div>
    <span class="col-xs-1">Min Price</span>
    <input class="col-xs-1" data-bind="textInput: minPrice" type="number" />
    <span class="col-xs-1">Max Price</span>
    <input class="col-xs-1" data-bind="textInput: maxPrice" type="number" />
</div>
<!--ko if: $root.LoggedIn()-->
<div class="row">
    <label class="col-xs-2" for="showVisible">Show Hidden Boxes</label>
    <div class="col-xs-1">
        <input data-bind="checked: $root.showHidden" id="showVisible" type="checkbox" />
    </div>
</div>
<!--/ko-->
<table class="table-responsive" data-bind="foreach: filteredBoxes">
    <tr>
        <td data-bind="text: $data.Name"></td>
        <td data-bind="text: $data.Description"></td>
        <td data-bind="text: $data.Price"></td>
        <td data-bind="click: $root.boxDetails"><button>Details</button></td>
    </tr>
</table>




